//color
$color-1: #ffcf47;
$color-2: #dcd1f1;
$color-3: #b61883;
$color-4: #ffcf46;
$color-5: #191919;
$color-6: #181818;
$color-7: white;
$color-8: rgba(0, 0, 0, 0.096);

//font-size


//font-weight
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);